In [5]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
house_price = pd.read_csv('data/SydneyHousePrices.csv')
house_price

,Date,Id,suburb,postalCode,sellPrice,bed,bath,car,propType
0,2019-06-19,1,Avalon Beach,2107,1210000,4.0,2,2.0,house
1,2019-06-13,2,Avalon Beach,2107,2250000,4.0,3,4.0,house
2,2019-06-07,3,Whale Beach,2107,2920000,3.0,3,2.0,house
3,2019-05-28,4,Avalon Beach,2107,1530000,3.0,1,2.0,house
4,2019-05-22,5,Whale Beach,2107,8000000,5.0,4,4.0,house
...,...,...,...,...,...,...,...,...,...
199499,2014-06-20,199500,Illawong,2234,1900000,5.0,3,7.0,house
199500,2014-05-26,199501,Illawong,2234,980000,4.0,3,2.0,house
199501,2014-04-17,199502,Alfords Point,2234,850000,4.0,2,2.0,house
199502,2013-09-07,199503,Illawong,2234,640000,3.0,2,2.0,townhouse
199503,2011-04-16,199504,Alfords Point,2234,1611000,5.0,4,3.0,house

In [7]:
suburb = pd.read_csv('data/suburb.csv')
suburb

,href,latitude,longitude,suburb
0,/wiki/Landsat_7,NaN,NaN,Landsat 7
1,/wiki/False-color,NaN,NaN,false-color
2,/wiki/Royal_National_Park,NaN,NaN,Royal National Park
3,/wiki/Ku-ring-gai_Chase_National_Park,NaN,NaN,Ku-ring-gai Chase National Park
4,/wiki/Blue_Mountains_National_Park,33°37′S,150°28′E,Blue Mountains National Park
...,...,...,...,...
726,/wiki/City_of_Hawkesbury,33°25′S,150°47′E,Hawkesbury
727,/wiki/The_Hills_Shire,33°46′S,151°00′E,The Hills
728,/wiki/Municipality_of_Hunter%27s_Hill,33°49′S,151°08′E,Hunter's Hill
729,/wiki/Ku-ring-gai_Council,33°45′15″S,151°09′06″E,Ku-ring-gai
730,/wiki/City_of_Sydney,33°52′S,151°12′E,City of Sydney

In [8]:
df = house_price.merge(suburb, how='left', left_on='suburb', right_on='suburb')

In [9]:
df.dropna(subset=['latitude'], axis=0, inplace=True)
df.drop(columns=['Id', 'href'], inplace=True)

In [10]:
df

,Date,suburb,postalCode,sellPrice,bed,bath,car,propType,latitude,longitude
0,2019-06-19,Avalon Beach,2107,1210000,4.0,2,2.0,house,33°38′01″S,151°19′57″E
1,2019-06-13,Avalon Beach,2107,2250000,4.0,3,4.0,house,33°38′01″S,151°19′57″E
2,2019-06-07,Whale Beach,2107,2920000,3.0,3,2.0,house,33°36′46″S,151°19′38″E
3,2019-05-28,Avalon Beach,2107,1530000,3.0,1,2.0,house,33°38′01″S,151°19′57″E
4,2019-05-22,Whale Beach,2107,8000000,5.0,4,4.0,house,33°36′46″S,151°19′38″E
...,...,...,...,...,...,...,...,...,...,...
199499,2014-06-20,Illawong,2234,1900000,5.0,3,7.0,house,34°00′02″S,151°02′09″E
199500,2014-05-26,Illawong,2234,980000,4.0,3,2.0,house,34°00′02″S,151°02′09″E
199501,2014-04-17,Alfords Point,2234,850000,4.0,2,2.0,house,33°59′05″S,151°01′17″E
199502,2013-09-07,Illawong,2234,640000,3.0,2,2.0,townhouse,34°00′02″S,151°02′09″E
199503,2011-04-16,Alfords Point,2234,1611000,5.0,4,3.0,house,33°59′05″S,151°01′17″E

In [39]:
df.sort_values('sellPrice', ascending=True)

,Date,suburb,postalCode,sellPrice,bed,bath,car,propType,latitude,longitude
135222,2012-05-05,Croydon,2132,1,5.0,2,2.0,house,33°52′45″S,151°06′56″E
152274,2011-11-07,Palm Beach,2108,1,4.0,2,2.0,house,33°36′00″S,151°19′22″E
133883,2007-03-31,Lane Cove,2066,1,4.0,2,2.0,house,33°49′01″S,151°10′10″E
133881,2007-04-30,Lane Cove,2066,1,3.0,2,1.0,house,33°49′01″S,151°10′10″E
109813,2012-06-22,Turramurra,2074,1,4.0,2,2.0,house,33°44′02″S,151°07′48″E
...,...,...,...,...,...,...,...,...,...,...
120432,2009-04-16,Beverly Hills,2209,100000000,4.0,3,2.0,house,33°57′5″S,151°4′46″E
77377,2014-02-22,Sylvania,2224,130000000,5.0,3,2.0,house,34°00′45″S,151°06′22″E
19165,2011-10-10,Wattle Grove,2173,431176576,4.0,2,2.0,house,33°57′25″S,150°56′28″E
86956,2010-05-17,Concord,2137,2147483647,3.0,1,2.0,house,33°51′35″S,151°06′07″E
137168,2011-10-25,Belmore,2192,2147483647,2.0,1,1.0,townhouse,33°55′3″S,151°5′16″E

In [11]:
sub_mean = df.groupby(by=['suburb', 'propType']).mean().round(0)
sub_count = df.groupby(by=['suburb', 'propType']).count()
sub_mean['total'] = sub_count['postalCode']
sub_mean.rename(columns={'sellPrice': 'avgPrice'}, inplace=True)

In [37]:
sub_mean

                                 postalCode   avgPrice  bed  bath  car  total
suburb     propType
Abbotsbury house                     2176.0  1056444.0  4.0   3.0  2.0    125
Abbotsford duplex/semi-detached      2046.0  1172000.0  2.0   2.0  3.0      1
           house                     2046.0  1967716.0  3.0   2.0  2.0    132
           terrace                   2046.0  2500000.0  3.0   2.0  2.0      1
           townhouse                 2046.0  1005160.0  2.0   2.0  2.0    100
...                                     ...        ...  ...   ...  ...    ...
Yowie Bay  villa                     2228.0   953000.0  3.0   2.0  2.0      7
Zetland    duplex/semi-detached      2017.0  1038125.0  2.0   1.0  1.0      4
           house                     2017.0  1199356.0  3.0   2.0  1.0    102
           terrace                   2017.0  1259583.0  3.0   2.0  1.0     18
           townhouse                 2017.0  1026650.0  3.0   2.0  2.0     10

[2057 rows x 6 columns]

In [38]:
sub_mean.sort_values('avgPrice', ascending=True)

                       postalCode    avgPrice  bed  bath  car  total
suburb      propType
Randwick    other          2031.0     65000.0  NaN   1.0  1.0      1
Holroyd     other          2142.0    185000.0  3.0   1.0  NaN      1
Vineyard    villa          2765.0    188675.0  1.0   1.0  1.0     40
Milperra    warehouse      2214.0    225000.0  1.0   1.0  3.0      1
Stanmore    other          2048.0    225000.0  2.0   1.0  1.0      1
...                           ...         ...  ...   ...  ...    ...
Kingsford   other          2032.0   6400000.0  6.0   3.0  2.0      1
Point Piper house          2027.0  11633293.0  5.0   4.0  3.0     41
Merrylands  other          2160.0  24721833.0  4.0   1.0  2.0      3
Belmore     townhouse      2192.0  41881678.0  3.0   2.0  1.0     52
Miranda     other          2228.0  85000000.0  4.0   2.0  1.0      1

[2057 rows x 6 columns]

In [25]:
df.groupby('propType').count()

,Date,suburb,postalCode,sellPrice,bed,bath,car,latitude,longitude
propType,,,,,,,,,
acreage,9,9,9,9,9,9,8,9,9
duplex/semi-detached,6655,6655,6655,6655,6652,6655,6111,6655,6655
house,159741,159741,159741,159741,159665,159741,143665,159741,159741
other,377,377,377,377,326,377,231,377,377
terrace,1343,1343,1343,1343,1341,1343,740,1343,1343
townhouse,14783,14783,14783,14783,14777,14783,14689,14783,14783
villa,5480,5480,5480,5480,5475,5480,5374,5480,5480
warehouse,40,40,40,40,32,40,27,40,40

In [32]:
df[(df['bed'].isna()) | (df['bath'].isna()) | (df['car'].isna())]

,Date,suburb,postalCode,sellPrice,bed,bath,car,propType,latitude,longitude
47,2018-09-07,Bilgola Plateau,2107,1310000,4.0,3,NaN,house,33°38′S,151°19′E
102,2018-02-07,Avalon Beach,2107,1471000,2.0,1,NaN,house,33°38′01″S,151°19′57″E
103,2018-02-07,Bilgola Plateau,2107,1395000,4.0,3,NaN,house,33°38′S,151°19′E
153,2017-08-23,Bilgola Plateau,2107,1520000,2.0,1,NaN,house,33°38′S,151°19′E
154,2017-08-22,Avalon Beach,2107,1380000,4.0,3,NaN,house,33°38′01″S,151°19′57″E
...,...,...,...,...,...,...,...,...,...,...
198927,2011-05-16,Horsley Park,2175,670000,4.0,1,NaN,house,33°51′30″S,150°51′19″E
198994,2019-02-28,Bangor,2234,825000,4.0,2,NaN,house,34°01′09″S,151°01′38″E
199273,2017-05-06,Illawong,2234,1100000,3.0,2,NaN,house,34°00′02″S,151°02′09″E
199294,2017-04-01,Alfords Point,2234,1257000,4.0,1,NaN,house,33°59′05″S,151°01′17″E
199373,2016-10-13,Illawong,2234,960000,3.0,2,NaN,house,34°00′02″S,151°02′09″E

In [33]:
df[(df['bed'].isna())]

,Date,suburb,postalCode,sellPrice,bed,bath,car,propType,latitude,longitude
1142,2009-01-08,Whale Beach,2107,1650000,NaN,1,NaN,other,33°36′46″S,151°19′38″E
3826,2018-10-22,Plumpton,2761,2000000,NaN,1,NaN,house,33°45′11″S,150°50′21″E
4501,2015-12-14,Plumpton,2761,640000,NaN,4,2.0,house,33°45′11″S,150°50′21″E
6505,2014-12-16,Eagle Vale,2558,385000,NaN,1,NaN,house,34°02′13″S,150°48′41″E
9000,2015-08-31,Hornsby,2077,380000,NaN,1,7.0,warehouse,33°42′18″S,151°05′56″E
...,...,...,...,...,...,...,...,...,...,...
187930,2012-11-30,Canley Heights,2166,373500,NaN,3,1.0,house,33°53′06″S,150°55′39″E
192489,2009-12-03,Redfern,2016,1330000,NaN,1,2.0,house,33°53′36″S,151°12′17″E
193776,2013-02-23,Bellevue Hill,2023,2270000,NaN,3,1.0,house,33°52′52″S,151°15′09″E
194599,2017-10-29,Middleton Grange,2171,815000,NaN,2,1.0,house,33°54′54″S,150°50′31″E
196280,2011-08-31,Balgowlah,2093,390000,NaN,1,1.0,house,33°47′47″S,151°15′31″E

In [34]:
df[(df['car'].isna())]

,Date,suburb,postalCode,sellPrice,bed,bath,car,propType,latitude,longitude
47,2018-09-07,Bilgola Plateau,2107,1310000,4.0,3,NaN,house,33°38′S,151°19′E
102,2018-02-07,Avalon Beach,2107,1471000,2.0,1,NaN,house,33°38′01″S,151°19′57″E
103,2018-02-07,Bilgola Plateau,2107,1395000,4.0,3,NaN,house,33°38′S,151°19′E
153,2017-08-23,Bilgola Plateau,2107,1520000,2.0,1,NaN,house,33°38′S,151°19′E
154,2017-08-22,Avalon Beach,2107,1380000,4.0,3,NaN,house,33°38′01″S,151°19′57″E
...,...,...,...,...,...,...,...,...,...,...
198927,2011-05-16,Horsley Park,2175,670000,4.0,1,NaN,house,33°51′30″S,150°51′19″E
198994,2019-02-28,Bangor,2234,825000,4.0,2,NaN,house,34°01′09″S,151°01′38″E
199273,2017-05-06,Illawong,2234,1100000,3.0,2,NaN,house,34°00′02″S,151°02′09″E
199294,2017-04-01,Alfords Point,2234,1257000,4.0,1,NaN,house,33°59′05″S,151°01′17″E
199373,2016-10-13,Illawong,2234,960000,3.0,2,NaN,house,34°00′02″S,151°02′09″E

In [36]:
df[df['car'] == 0]

Empty DataFrame
Columns: [Date, suburb, postalCode, sellPrice, bed, bath, car, propType, latitude, longitude]
Index: []